@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
body {
  font-family: "Oswald", sans-serif;
  padding-top: 20px;
  &:before {
    z-index: 10001;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: limegreen;
    content: "Xsmall";
  }
  @include media-breakpoint-up(sm) {
    &:before {
      content: "small";
      background: #f00;
    }
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    &:before {
      content: "middle";
      background: green;
    }
  }
  @include media-breakpoint-up(lg) {
    &:before {
      content: "Large";
      background: turquoise;
    }
  }
  @include media-breakpoint-up(xl) {
    &:before {
      content: "XLarge";
      background: #f09;
    }
  }
  @include media-breakpoint-up(xxl) {
    &:before {
      content: "XXLarge";
      background: #90f;
    }
  }
}
.navbar {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  .navbar-brand {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .navbar-nav {
    margin-bottom: 5px;
    .nav-item {
      margin-right: 26px;
      z-index: 9;
      &:last-child {
        margin-right: 0;
      }
      @include media-breakpoint-up(md) {
        background: $gabelGreen;
        display: flex;
        justify-content: center;
        &:last-child {
          margin-right: 26px;
        }
      }
      @include media-breakpoint-up(sm) {
        background: $gabelGreen;
        display: flex;
        justify-content: center;
        &:last-child {
          margin-right: 26px;
        }
      }
    }
  }
  li {
    span {
      display: inline-block;
      height: 5px;
      width: 5px;
      margin-bottom: 3px;
      margin-right: 22px;
      background: $Turbo;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}
.logo {
  display: flex;
  font-size: 1.875rem;
  letter-spacing: 4px;
  line-height: 30px;
  padding-bottom: 12px;
  div {
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    &:hover {
      color: $white;
    }
    span {
      padding-left: 5px;
      font-size: 0.5625rem;
      letter-spacing: 9px;
      line-height: 7px;
    }
  }
  .main-nav {
    padding-bottom: 3px;
  }
}
.intro {
  height: 100vh;
  width: 100%;
  background: $Firefly;
  display: flex;
  align-items: center;
  position: relative;
  .intro-middle {
    background: $gabelGreen;
    width: 100%;
    min-height: 370px;
    h1 {
      color: $white;
      font-weight: $font-weight-base;
      text-align: center;
      padding: 50px 0 33px;
      @include media-breakpoint-down(lg) {
        font-size: 3.25rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 3rem;
      }
    }
    .btn {
      color: $Woodsmoke;
      font-size: 1.25rem;
      font-weight: $font-weight-base;
      border-radius: 0;
      height: 58px;
      width: 227px;
    }
  }
  a {
    position: absolute;
    height: 59px;
    width: 59px;
    bottom: 0;
    left: calc(50% - 29.5px);
    background: $yellowBtn;
    text-decoration: none;
    span {
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 7px);
      .icon-arrows:before {
        content: "\e900";
        color: $white;
        font-size: 1.125rem;
      }
    }
  }
}
.main-content {
  h3 {
    padding-top: 59px;
    padding-bottom: 9px;
    text-align: center;
  }
  h2 {
    font-weight: $font-weight-base;
    text-align: center;
    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 170px;
      background: $Turbo;
      margin-top: 20px;
      margin-left: calc(50% - 85px);
    }
  }
  p {
    padding-top: 11px;
    text-align: center;
    font-size: 1rem;
    font-weight: $font-weight-light;
    line-height: 1.5625rem;
  }
  span {
    background: $Turbo;
    color: $Turbo;
    height: 3px;
    width: 100%;
  }
}
